:root {
  --packops-space-1: 0.25rem;
  --packops-space-2: 0.5rem;
  --packops-space-3: 0.75rem;
  --packops-space-4: 1rem;
}

html {
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 820px) {
  input,
  select,
  textarea,
  [contenteditable="true"] {
    font-size: 16px !important;
  }
}
